# IDE
.idea/

# Rust
backend/target/

# Node
frontend/node_modules/
frontend/dist/
*.pem

# SQLite
*.db
*.db-journal
*.db-wal
*.db-shm

# Environment
.env

# Secrets
backend/strava_client_id
backend/strava_client_secret

# Personal files
TODO.md
TASK.md
commands.txt
COMPLIANCE.md