:root {
  color-scheme: light;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
}

@layer base {
  * {
    box-sizing: border-box;
  }

  input,
  select,
  textarea,
  button {
    font: inherit;
  }
}
